<div class="topic-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">編集</h1>
        <%= form_for @topic do |f| %>
          <div class="form-group">
            <%= f.label :book_tittle %>
            <%= f.text_field :book_tittle, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :author %>
            <%= f.text_field :author, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :hashname %>
            <%= f.text_area :hashname, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          
          <%= f.submit '完了', class: 'btn btn-grey btn-block' %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>