<div class="topic-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="topic-single">
          <div class="user-contents">
            <%= link_to user_path(id: @topic.user_id) do %>
              <% if @topic.user.user_image? %>
                <%= image_tag @topic.user.user_image.thumb.url %>
              <% else %>
                <%= image_tag "/assets/default.jpeg" %>
              <% end %>
              <span class="user-name"><%= @topic.user.name %></span>
            <% end %>
            <span class="time-stamp"><%= l @topic.created_at, format: :short %></span>
          </div>
          <div class="topic-contents d-flex flex-row">
            <%= image_tag @topic.image.url %>
            <div class="book-info">
              <p class="book-tittle"><%= @topic.book_tittle %></p>
              <p class="book-author"><%= @topic.author %></p>
              <p class="hashname"><%= @topic.hashname %></p>
              <div class="topic-function d-flex align-items-center">
                <span id="topic-<%= @topic.id %>"><%= render "likes/like", topic: @topic %></span>
                <% if logged_in? && current_user.id == @topic.user_id %>
                  <%= link_to edit_topic_path(id: @topic.id) do %>
                    <i class="far fa-edit edit-icon"></i>
                  <% end %>
                  <%= link_to @topic, method: :delete, data: {confirm: "投稿を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %> 
              </div>
            </div>
          </div>
          <p class="topic-text"><%= @topic.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>