<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notification-single">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="form-inlline">
          <span>
            <%= link_to user_path(visitor) do %>
              <% if visitor.user_image? %>
                <%= image_tag visitor.user_image.thumb.url %>
              <% else %>
                <%= image_tag "/assets/default.jpeg" %>
              <% end %>
              <%= "#{visitor.name}" %>
            <% end %>
            <%= "さんが" %>
            <% case notification.action %>
            <% when 'follow' %>
              <%= "あなたをフォローしました。" %>
            <% when 'like' %>
              <%= link_to "あなたの投稿", notification.topic, style: "font-weight: bold;" %>
              <%= "に「いいね！」しました。" %>
            <% end %>
          </span>
        </div>
        <div class="small text-muted text-right">
          <%= "(#{time_ago_in_words(notification.created_at)}前)" %>
        </div>
      </div>
    </div>
  </div>
</div>