<div class="user-top-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-page-profile d-flex flex-row">
          <div class="user-icon">
            <% if @user.user_image? %>
              <%= image_tag @user.user_image.thumb.url %>
            <% else %>
              <%= image_tag "/assets/default.jpeg" %>
            <% end %>
            <% if logged_in? && @user != current_user %>
              <div id="follow-form">
                <% if current_user.following?(@user) %>
                  <%= render "unfollow", user: @user %>
                <% else %>
                  <%= render "follow", user: @user %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="user-info">
            <h2 class="user-name"><%= @user.name %></h2>
            <p><%= "蔵書数：#{@user.topics.count}" %></p>
            <p><%= render "level" %></p>
            <% if logged_in? && @user == current_user %>
              <span class="notice-icon">
                <%= link_to notifications_path do %>
                  <% if unchecked_notifications.any? %>
                    <span class="fa-stack">
                      <i class="far fa-bell fa-stack-2x"></i>
                      <i class="fas fa-circle n-circle fa-stack-1x"></i>
                    </span>
                  <% else%>
                    <i class="far fa-bell fa-lg" style="font-size: 2em;"></i>
                  <% end %>
                <% end %>
              </span>
              <i class="fas fa-list-ul fa-2x list-icon" data-toggle="collapse" data-target="#collapseP" aria-expanded="false" aria-controls="collapseP"></i>
              <ul class="collapse list-element" id="collapseP">
                <li><%= link_to "アカウント情報を変更", "/users/#{@user.id}/edit" %></li>
                <li><%= link_to "アカウントを削除", @user, method: :delete, data: {confirm: "アカウントを削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></li>
              </ul>
            <% end %>
          </div>
          <div class="link-element">
            <span id="followings">
              <%= link_to "フォロー：#{@user.followings.count}", followings_user_path(@user) %>
            </span>
            <span id="followers">
              <%= link_to "フォロワー：#{@user.followers.count}", followers_user_path(@user) %>
            </span>
            <%= link_to "タイムライン", "/users/#{@user.id}/timeline" %>
            <%= link_to "いいねした投稿", "/users/#{@user.id}/likes", class: "all-likes" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="user-page-topics">
          <% @topics.each do |topic| %>
            <div class="col-md-2">
              <div class="topics-single">
                <%= link_to image_tag(topic.image.url), topic_path(topic), class: "topic-image" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>