<div class="all-follow">
  <div class="container">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="row">
          <div class="offset-md-4 col-md-4 d-flex flex-row align-items-center follow-single">
            <%= link_to user do %>
              <% if user.user_image? %>
                <%= image_tag user.user_image.thumb.url %>
              <% else %>
                <%= image_tag "/assets/default.jpeg", :size => '50x50' %>
              <% end %>
              <%= "#{user.name}" %>
            <% end %>
            <% if logged_in? && user != current_user %>
              <span id="follow-<%= user.id %>-form" class="follow-btn">
                <% if current_user.following?(user) %>
                  <%= render "unfollow", user: user %>
                <% else %>
                  <%= render "follow", user: user %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">フォローしている人はいません</p>
    <% end %>
  </div>
</div>