<div class="book-show-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-10 offset-1">
        <%= @book.image %>
        <%= @book.book_tittle %>
        <%= @book.author %>
        <%= @book.hashname %>
        <%= @book.topic_id %>
      </div>
    </div>
  </div>
</div>