<!DOCTYPE html>
<html>
  <head>
    <title>Readers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">
        <% if logged_in? %>
          <%= link_to user_path(current_user) do %>
            <h1 class="navbar-brand">Readers'</h1>
          <% end %>
          <ul class="nav navbar-nav">
          <li class="navbar-item">
            <%= link_to new_topic_path do %>
              <p>新規投稿作成</p>
            <% end %>
          </li>
          <li class="navbar-item">
            <%= link_to logout_path, method: :delete do %>
              <p>Log out</p>
            <% end %>
          </li>
          <li class="navbar-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="検索..." aria-label="検索...">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
            </form>
          </li>
          </ul>
        <% else %>
          <%= link_to root_path do %>
            <h1 class="navbar-brand">Readers'</h1>
          <% end %>
          <ul class="nav navbar-nav">
          <li class="navbar-item">
            <%= link_to new_user_path do %>
              <p>Sign up</p>
            <% end %>
          </li>
          <li class="navbar-item">
            <%= link_to login_path do %>
              <p>Log in</p>
            <% end %>
          </li>
          <li class="navbar-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="検索..." aria-label="検索...">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
            </form>
          </li>
          </ul>
        <% end %>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
