<!DOCTYPE html>
<html>
  <head>
    <title>Readers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <% if logged_in? %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
          <%= link_to user_path(current_user) do %>
            <h1 class="navbar-brand">Readers'</h1>
          <% end %>
          <ul class="nav navbar-nav align-items-center">
            <li class="navbar-item">
              <%= link_to new_topic_path do %>
                <%= "新規投稿作成" %>
              <% end %>
            </li>
            <li class="navbar-item">
              <%= link_to logout_path, method: :delete do %>
                <%= "Log out" %>
              <% end %>
            </li>
            <li class="navbar-item ml-auto">
              <div id="search-box">
                <%= form_tag('/books/search', method: :get) do %>
                  <%= text_field_tag :keyword, "", id: "book_search", name: "keyword", placeholder: "検索..." %><button title="検索" type="submit">検索</button>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
